.appContainer {
  display: flex;
  justify-content: center; 
  align-items: center;      
  height: 100vh;            
  position: relative;
}

.menuContainer {
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px;
}

.main{
  text-align: center;
}